@media(max-width:992px){
    .w-md{
        display: none;
    }
   
   
    .box-two{
        width: 100%;
    }

    .box2{
        width: 100%;
    }
    .box1{
        width: 100%;
    }
    .w-1{
        width: 100% !important;
    }

    .boxpimg{
        max-width: 350px;
        margin: auto;
    }
    .boxpimg2{
        max-width: 350px;
        margin: auto;
    }


    /* .box-2-imgcont{
        width: 100%;
    } */

    .box-2-img{
       
        margin: auto;
    }

    .box-2-cont{
        margin: auto;
    }

   
}

@media(min-width:1669px){
    .w-xl{
        display: none;
    }
}



@media(min-width:992px){
    .w-md-1{
        display: none;
        margin: auto;
    }

 
}

@media(max-width:991px){
    .w-lg-1{
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
        margin: auto;
        
    }

    .w-lg{
        max-width: 350px;
    }

    .box-arrivals{
        width: 33.33%;
        
    }

    .main-product{
        
        width: 187%;
    }
    .product{
        width: 25%;
        
        margin: auto;
    }
    .produc-img{
        height: 180px;
        width: 157px;
        margin: auto;
    }
    .produc-cont{
        
        width: 157px;
        margin: auto;
    }

    .box-lb{
        width: 33.33%;
        margin: auto;
    }

    .main-prod-8{
        width: 33.33%;
    }
}

@media(max-width:767px){
    .box-arrivals{
        width: 100%;
        margin: auto;
    }

    .product{
        width: 100%;
        margin: auto;
    }

    .produc-img{
        height: 310px;
        width: 270px;
        margin: auto;
    }
    .produc-cont{
        padding-top: 5%;
        width: 270px;
        margin: auto;
    }

    .box-lb{
         width: 100%;
         height: 380px;
         margin: auto;
    }

    .box-lb-img{
        max-width: 270px;
        
        margin: auto;
    }

    .box-lb-con{
        max-width: 270px;
       
        margin: auto;
    }
    
    .box-4-foo{
        width: 100% !important;
    }
    .main-prod-8{
        width: 100%;
    }
  
    .sub-main-prod{
        max-width: 270px;
        margin: auto;
    }
    .sub-main-cont{
        max-width: 270px;
        margin: auto;
    }



}

@media (max-width:992px){
    .box-4-foo{
        width: 50%;
    }
}


