@media(max-width:992px){
    .w-md{
        display: none;
    }
    .box2{
        width: 100%;
    }
    .box1{
        width: 100%;
    }
    .box-two{
        width: 100%;
    }
    
   
}

@media(min-width:1669px){
    .w-xl{
        display: none;
    }
}



@media(min-width:992px){
    .w-md-1{
        display: none;
    }
}


