*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
   
    width: 100%;
   
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0%;
    background-color:#f8f9fd;

}

.box{
   
    width: 23%;
 
}

.box:nth-child(2){
    width: 50%;
}

a{
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding:30px;
    color: #606060;
}

.item{
    display: flex;
    flex-wrap: wrap;
}

.box-lists{
    display: flex;
    flex-wrap: wrap;
    margin-left:25%;
   
}

.it{
    font-size: 16px;
    color: #606060;
    padding:30px;
    margin-top: 10px;
    margin-left: 0px 0px -2px;
    font-size: 16px;
    gap: 2px;
    font-family: "Roboto", sans-serif;
}

.it:hover{
    color:#d4a055;
}

.box-icons{
    display: flex;
    flex-wrap: wrap;
   
    height: 100%;
    
}

i{
    font-size: 25px;
    padding:10px;
    margin-top: 30px;
  
}
.ri-search-line:hover{
    color:#d4a055;
}

.ri-settings-5-line:hover{
    color:#d4a055;
}

.ri-shopping-cart-2-line:hover{
    color:#d4a055;
}



button{
   
    border: 1px solid orange;
    color: orange;
}
.ri-menu-line:hover{
    color:orange;
}


.container{
    border: 1px solid red;
    height: 800px;
    max-width: 1350px;
    overflow-x: scroll;
    margin: auto;
    
   
}

.slider{
    border: 1px solid blue;
    width: 300%;
    height: 100%;
    display: flex;
}

.box-sli{
    border: 1px solid green;
    width: 100%;
    height: 100%;
    display: flex;
}

.box-two{
    border: 1px solid orchid;
    width: 50%;
  
}

.box-item{
    border: 3px solid palegreen;
    height:100%;
    width: 100%;

}

.box-img{
    border: 2px solid darkgoldenrod;
    height:100%;
    width: 100%;

}