*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.navbar{
   
    max-width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px ;
    align-items: center;
    top: 0%;

    background-color: white;
    
   
 
}

header{
    position: fixed;
    width: 100%;
    background-color: white;
     z-index: 100;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.w-100{
    
    max-width: 100px;
 
}
.logo{
    font-family: "Roboto", sans-serif;
    
}



.box:nth-child(2){
    width: 100%;
}

a{
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    color: #606060;
    text-decoration: none;
    transition: all 0.5s;
   
}

.item{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.box-lists{
    width: 100%;
    display: flex;
    justify-content: center;
   gap: 4%;
   
}

.it{
    font-size: 16px;
    color: #606060;
   
    margin-top: 10px;
    margin-left: 0px 0px -2px;
    font-size: 16px;
   
    font-family: "Roboto", sans-serif;
}

.it:hover{
    color:#d4a055;
}

.box-icons{
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap:10px;
}

.box-icons i{
    font-size: 25px;
  
  
}
.ri-search-line:hover{
    color:#d4a055;
}

.ri-settings-5-line:hover{
    color:#d4a055;
}

.ri-shopping-cart-2-line:hover{
    color:#d4a055;
}



button{
   
    border: 1px solid orange;
    color: orange;
}


.ri-menu-line{
    color:orange;
    font-size: 20px;
    font-weight: 700;
 
}

.btn-nav{
    width: 32px;
    height: 40px;
    background-color: transparent;
}

.link{
    position: absolute;
    left: 50%;
    width: 200px;   
    display: flex;
 
    padding-top: 4%;
   
    
}


.link > a{
    font-size: 15px;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 2%;
    margin-left: 4%;
}


.container{
    
    max-width: 1350px;
    overflow-x: hidden;
    margin: auto;
    position: relative;
    padding-bottom: 10%;
}

.slider{
   
    width: 300%;
    height: 100%;
    display: flex;
}

.box-sli{
  
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box-two{
   
    width: 50%;
    padding-top: 10%;
}

.box-item{
    
    width: 100%;
    
}


.box-img{
  
   
    width: 100%;

}
.box-img > img{
    width: 70%;
    padding-left: 20px;
}

    /* container1 sesion start */

    .containerproduct{
       
        margin: auto;
        max-width: 1320px;
        margin-top:5% ;
        padding: 10px;
        
    }


    .main-boxs{
      
    
        display: flex;
        flex-wrap: wrap;
    }



    .box2{
       
        width: 25%;
        transition: all 0.8s;
        padding: 5px;
    }

    .box1{
        transition: all 0.8s;
        width: 50%;
       
    }
   .box-2-imgcont{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
   }

   .box-2-img{
   
    width: 30%;
    
   }
   .box-2-cont{
    
    width: 70%;
    
   }

   .boximg1{
        padding-top: 10%;
   }

    .boxpimg{
        background-color: #f8f9fd;
        
       
        /* display: flex; */
    }

   

    

    .boxpimg:hover h2{
        color: #e89c2d;
    }

    .boxpimg2:hover button{
        background-color: #5d5c5b;
        color: white;
       
    }

    .boxpimg2:hover h2{
        color: #e89c2d;
    }

   .armchair{
        padding: 0%;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        color: #5f5b57;
        padding-top: 5%;
        text-align: center;
        
   }

   .pac{
    padding: 0%;
    padding-top: 8%;
    text-align: center;
    padding-bottom: 16px;
   }

   .phl{
    padding: 0%;
    padding-top: 5%;
    text-align: center;
    padding-bottom: 12px;
   }
  
    .boxpimg > img{
        padding-left: 30%;
    }
    .d-flex{
    display: flex;
    padding: 5px;
    flex-wrap:wrap
}
    .box1-1{
      
        background-color: #f8f9fd;
    }

    
    .box1-1:first-child{
        width: 30%;
    }
    .box1-1:last-child{
        width: 70%;
    }

    .box1-1 > img{
            padding-top: 25px;
            padding-left: 10px;
           padding-bottom: 23px;
    }

    .box1-1 > h2{
        padding-top: 7%;
        padding-left: 0%;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        color: #5f5b57;
    }

    .box1-1>p{
        padding-top: 5%;
        padding-left: 0%;
    }

    .more-btn{
        width: 118px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #5f5b57;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        margin-top: 23px;
        color: #5f5b57;
        background-color: #f8f9fd;
    
    }

   
          
   
      /* container1 sesion end */


h2{
    padding-left: 15%;
    padding-top: 10%;
    color: #958d87;
    font-family: "Roboto", sans-serif;
}

h1{
    padding-left: 15%;
    padding-top: 2%;
    color: #606060;
    font-family: "Roboto", sans-serif;
    font-size: 41px;
}

p{
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 4%;
    color: #a3a1a3;
    font-family: "Roboto", sans-serif;
}

.ri-subtract-line{
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    padding-left: 15%;
    
}

.add{
  margin-top: 5%;
   margin-left: 15%;
   width: 24%;
   height: 60px;
   color: white;
   background-color: #e89c2d;
   font-size: 16px;
   font-family: "Roboto", sans-serif;
   transition: all 0.6s;
}

.add:hover{
    border: 1px solid #e89c2d;
    background-color: white;
    color: #e89c2d;
}

.more{
    margin-top: 5%;
  
    width: 24%;
    height: 60px;
    color: #e89c2d;
     background-color: #f8f9fd;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
     border: none;
     transition: all 0.6s;
}

.more:hover{
    border: 1px solid #e89c2d;
}


h3{
    padding-left: 35%;
    padding-top: 5%;
    font-family: "Roboto", sans-serif;
    color: #5d5c5b;
}


h4{
    font-family: "Roboto", sans-serif;
    color: #5d5c5b;
    font-size: 18px;
    padding-top: 10%;
}



h6{
    font-size: 14px;
    color: #5f5b57;;
    font-family: "Roboto", sans-serif;
    display: flex;
    gap: 5px;
}

.color{
    color:orange;
}

.dis{
    width: 30%;
    height: 40px;
    margin-top: 5%;
    color: #5f5b57;;
    border: 1px solid  #5f5b57;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.NA{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: #5f5b57;
    text-align: center;
    padding-top: 3%;
    padding-left: 0%;
    padding-bottom: 3%;
}


/* .container2 start */

    .container2{
       
        max-width: 1320px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        
        padding: 10px;
    }

        .main-ariival-box{
            
            width: 100%;
            
            display: flex;
            flex-wrap: wrap;
        }

        .main-prod-8{
           
            
            width: 25%;
            padding: 10px;
        }

        .main-prod-8:hover h2{
            color: #e89c2d;
        } 


        .sub-main-prod{
          
            padding-top: 30%;
            padding-bottom: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f8f9fd;
            position: relative;
            
        }
        
        .sub-main-prod > img{
            height: 120px;
            width: 40%;
            transition: all 0.5s;
        }

        .sub-main-prod:hover img{
            scale: 1.4;
        }

        .sub-main-prod:before{
            content: "";
            height: 0;
            width: 0; 
            position: absolute;
            transition: all 0.5s;
            background-color: rgba(0, 0, 0, 0.055);
            
        }
        .sub-main-prod:hover:before{
            height: 100%;
            width: 100%;
           
        }
        .prod-btn{
            position: absolute;
            bottom: 0px;
            height: 0px;
            background-color:#33383c;
            width: 100%;
            transition: all 0.5s;
            display: flex;
            color: white;
            overflow: hidden;
        
        }
        .sub-main-prod:hover .pro-btn{
            height: 35px;
            display: flex;
        }
        .add1{
            padding:10px;
            font-size:15px;
            color: white;
        }
        .cart{
            padding:10px;
            
        }
        .cart:hover{
           color:white
            
        }
        .heart{
            padding:10px;
            margin-left:auto;
        }
        .full{
            padding: 10px;
        }
        .heart:hover{
            color:white;
        }
        .full:hover{
            color:white;
        }
      
            
        .sub-main-prod:hover .prod-btn{
            height: 40px;
            display: flex;
        }
        .sale{
            position: absolute;
            padding:5px 17px 5px 17px;
            top:3%;
            left:79%;
            background-color: #e89c2d;  
         
        }
        .sale2{
                background-color:#47d93c;
        }
        .text1{
            color:white;
        }
        
        
        
      
        .sub-main-cont > h2{
           font-size: 16px;
           color: #5f5b57;
           padding-top: 7%;
           padding-left: 0%;
           text-align: center;
           font-family: "Roboto", sans-serif;
             
        }

        .sub-main-cont > p{
            padding-top: 5%;
            color: #5f5b57;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            text-align: center;
            padding-left: 0%;
            
        }
        

      

/* .container2 end */


.containerwall{
    
    max-width: 100%;
    margin-top: 5%;
    
}

.box-back-wall{
    
   
    height: 600PX;
    background-image: url("../img/table-banner.jpg");
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.box-wall-2{

    width: 33%;
    height: 100%;
    background-color: #384041;
    opacity: 0.95;
   
}

.content-wall{
    position: absolute;
   
   
    margin-left: 20%;
    margin-top: 10%;
}

.content-wall > h2{
    color: white;
    font-size: 32px;
    text-align: start;
    padding: 0%;
    padding-bottom: 2%;
}

.content-wall > p{
    padding-top: 2%;
    padding-left: 0%;
    color: white;
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 2;
}

.content-wall > h6{
    color: white;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    padding-bottom: 5%  ;

}

.content-wall > button{
    width: 28%;
    padding: 15px;
    background-color: #e89c2d;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.containerfp{
   
    max-width: 1320px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.main-product{
    
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
}

.product{
    
    width: 25%;
    padding: 10px;
}



.produc-img > img{
    width: 100%;
    
}



.price{
    padding-top: 15px;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    color: gray;
}
.text{
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #5f5b57;
    padding-top: 8px;
    
}

.containerlb{
  
    max-width: 1320px;
    margin: auto;
    
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.main-blog{
    
    width: 100%;
     display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.box-lb{
    width: 33.33%;
    transition: all 0.8s;
    padding: 10px;
}

.box-lb:hover h2{
        color: orange;

}

.box-lb-img{
    position: relative;
    overflow: hidden;
    width: 100%;
   
    
}

.box-lb-img img{
    transition: all 0.5s;
}

.box-lb-img:hover img{
    scale: 1.2;
}
.box-lb-img:before{
    content: "";
    height: 0;
    width: 0; 
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0.151);
    
}
.box-lb-img:hover:before{
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
   
}

.box-lb-con{
    
    width: 100%;
    
}

.box-lb-img > img{
    width: 100%;
}

.lbh2{
    font-size: 16px;
    color: #5f5b57;
    font-family: "Roboto", sans-serif;
    padding-top: 5%;
    padding-left: 0%;
}
h5{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #bcb7b2;
    padding-top: 3%;
}

.lbp{
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: #95908b;
    padding-left: 0%;
    padding-right: 6%;
    line-height: 22px;
}

.bg-color{
    background-color: #f8f9fd;
}
.containerlogo{
    
    max-width: 1320px;
    margin: auto;
    overflow-x: hidden;
    margin-top: 4%;
    padding: 10px;
}

.box-logo{

    
    display: flex;
    
    
}

.box-logo-5{
    
    width: 259px;
    display: flex;
   justify-content: center;
   padding: 5%;
}

.containerfooter{
    
    max-width: 1320px;
    margin: auto;
    margin-top: 5%;
    
    padding: 10px;
}

.box-footer{
   
   
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.box-4-foo{
   
    width: 25%;
}

li{
    list-style-type:none;
    padding-top:20px;
    color: #a09e9c;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    
}

li:hover{
    color: #e89c2d;
    width: 300px;
    padding-left:15px;
    transition: all 0.5s;
    
}

.pfooter{
    padding-left: 0%;
    padding-top: 40px;
}

.box-foo-input{
    
    padding: 22px;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box-foo-input:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.foo-p{
    font-size: 14px;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    color: #5f5b57;

}
.ri-send-plane-fill{
    padding-left: 36%;
    color: orange;
    font-size: 20px;
}

.containerfooterlast{
    
    max-width: 1320px;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}
.box-footer-icon{
    
    padding-top: 40px;
    padding-bottom: 30px;
    margin: auto;
    text-align: center;
}

.icons > i{
    font-size: 18px;
    color: #a09e9c;
    padding: 2%;
}

i:hover {
    color: #e89c2d;
}

.box-footer-icon > p{
    padding-left: 0%;
    padding-top: 15px;
}






